body {
    font-family: 'Nunito', sans-serif;
}

.logo {
    border: 1px solid rgb(255, 255, 255); /* Ajusta el grosor y el color del borde según tus preferencias */
    border-radius: 50%;
    margin: 0 auto; /* Esto centra el contenedor horizontalmente */
    text-align: center; /* Esto centra el contenido del contenedor */
    padding: 5px; /* Ajusta el relleno interior del contenedor según tus preferencias */
    color: white;
}

.navbar-brand:hover{
    color: white;
}
  
.custom-navbar-color {
    background-color: #3e4e67;
    /* Otros estilos que desees aplicar */
}

.footerA {
    text-decoration: none;
}

.footerA:hover {
    text-decoration: underline;
}